.formRadio {
    padding: 1rem 1rem;
}

.form-label{
    margin-bottom: .8rem;
}

.formRadio .book-button{
    font-size: .8rem;
    background-color: #0292d3;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;
    width: 120px;
    padding: 8px 0;
    margin-top: .8rem;
}

.book-button:hover{
    background-color: #0282c3;
}

.radio-button{
    font-size: .2rem;
}